<div class='espaco'>

<div class='container section active'>
  <nav
    style="--bs-breadcrumb-divider: '>'; margin-top: 1rem;"
    aria-label='breadcrumb'
  >
    <ol class='breadcrumb'>
      <li class='breadcrumb-item' aria-current='page'><a href='/'>Home</a></li>
      <li class='breadcrumb-item active' aria-current='page'>PageNotFound</li>
    </ol>
  </nav>
  <div class='notfound'>
    <h1>Page not Found</h1>
    <a href='./'><h1 align='center'>
      <img src='/img/pokeballBandW.jpg' alt='pokeballBandW' width='40' />
    </h1></a>
  </div>
</div>